body{
    padding: 0;
    padding: 0;
}

main{
    display:flex;
    justify-content: center;
    /* background-color: antiquewhite;   */
}

#cont{
    width: 90%;
    display: flex;
    justify-content: space-between;
}

#cont > div{
    width: 100%;
    background-color:steelblue;
    overflow: hidden;
}

#cont > div > img{
    width: 100%;
    height: 400px;
    transition: 1s;
}

#cont > div > h3{
    font-size: 30px;
    letter-spacing: 2px;
    color:cornsilk;
    display: flex;
    text-align: center;
}

#cont > div > h4{
    padding-left: 10px;
    font-size: 20px;
    letter-spacing: 1px;
    color:rgb(165, 150, 94);
}

#cont > div > button{
    width: 100%;
    height: 70px;
    background-color: pink;
    border: none; 
    color:lightslategray;
    font-size: 20px;
}

#cont > div> .pr{
    width: 95%;
    display: flex;
    color:blanchedalmond;
    justify-content: space-between;
}

#cont > div > img:hover{
    transform: scale(1.1);
}

#cont > div > h3:hover{
    text-align: center;
    background-color: bisque;
    color: black;
}